*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    width: 960px;
    margin: 0 auto;
}

.cleaqrfix:after{
    content: '';
    clear: both;
    display: table;
}

/*NAVBAR*/
nav {
    display: flex;
    background:#5C8984;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    padding: 20px;
    /* border: 1px solid white; */
}

nav a:hover {
    background-color: #F2D8D8;
}

nav ul li a {
    list-style: none;
    color: white;
    text-decoration: none;
}






/* HW-1.1 */
h1 {
    text-align: center;
    padding: 20px;
}

img {
    display: block;
    margin: auto;
}

p {
    text-indent: 10%;
    padding: 20px;
}

/* HW-1.2 */

.skill ul li {
    list-style: circle;
    color: black;
    margin-left: 40px;
}

/* HW-1.3 */

.contact ul li {
    margin-left: 40px;
    list-style: none;
}

/* HW3 */
.searchbar {
    display: flex;
    justify-content: space-around;
    border: 2px solid gray;
    align-items: center;
    margin-top: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px;
}

.project {
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.img img {
    margin-right: 70px;
    width: 150px;
    height: 150px;
}

.info {
    /* border: 1px solid green; */
    height: 100%;
    padding-top: 30px;
}